
.opcaoEspecial {
    background-color: var(--cor-azul-principal);
    padding: 12px 16px;
    color: var(--cor-branco);
    display: flex;
    justify-content: space-between;
}


@keyframes fadeInLeft {
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(0);
    }
}

@keyframes fadeInRight {
    100%{
        transform: translateX(-100%);
    }
    0%{
        transform: translateX(0);
    }
}

.opcaoEspecialAtivada{
    animation: fadeInLeft 0.3s both;
}

.opcaoEspecialDesativada {
    animation: fadeInRight 0.3s both;
}



.opcaoEspecialItem {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    color: var(--cor-branco);
}

.menuMobileTransition{
    animation: fadeInLeft 0.3s both;
}


.menuMobileDisabled {
    animation: fadeInRight 0.3s both;
}

.MenuMobileItemContainer {
    background-color: var(--cor-cinza-clara);
    padding: 16px 16px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 16px;
    font-size: 20px;
    font-weight: 700;
    color: #333333;
    list-style: none;
}

.MenuMobileItem, .ultimaOpcao {
    background-color: var(--cor-branco);
    border-radius: 16px;
    padding: 8px 0;
    text-align: center;
}

.ultimaOpcaoContainer {
    background-color: var(--cor-cinza-clara);
    padding: 8px 16px;
    font-size: 20px;
    font-weight: 700;
    color: var(--cor-cinza);
}

.ultimaOpcao {
    padding: 16px 0;
}

.MenuMobileItem a, .ultimaOpcao a {
    color: var(--cor-cinza);
}

.MenuMobileItem a {
    text-decoration: none;
}