.tags {
    display: flex;
    justify-content: center;
    gap: 24px;
    flex-wrap: wrap;
    padding: 48px 0;
}

.tag {
    text-align: center;
    color: var(--cor-cinza);
    list-style: none;
}

.imagem {
    height: 120px;
    width: 120px;
    border-radius: 100%;
}